.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    outline:none;
    background-color: white;
    
}
.nav-options {
    margin: 0 auto;
    padding-left: 0;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-gap: 0;
    list-style-type: none;
}

.mobile-menu {
    display: none;
    padding: 0em 1em;
    align-items: center;
    justify-content: center;
}
.nav-container ul li {
    list-style: none;
}
.nav-container ul li a {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    display: inline-block;
    padding: 5.1vh 1.75em;
    color: black;
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}

.nav-container ul li a:hover {
    color: #aa0fc5;
}
.nav-container ul li a:hover::before {
    -webkit-animation: animate .45s linear forwards;
    -moz-animation: animate .45s linear forwards;
    animation: animate .45s linear forwards;
}


@media only screen and (min-width: 280px) and (max-width: 480px) {
    .nav-options {
        display: flex;
        width: 100%;
        height: 21.5rem;
        position: absolute;
        top: 16rem;
        left: -100%;
        opacity: 0;
        transition: all 0.7s ease;
        flex-direction: column;
        list-style-type: none;
        grid-gap: 0;
        text-decoration: none;
    }
    .nav-options.active {
        background-color: white;
        left:0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 10;
        align-content: center;
        padding-left: 0px;
    }
    .mobile-menu {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .nav-container ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0);
        height: 3.3vw;
        font-size: 22px;
        padding: 1.3rem 0rem;
    }
}
@media only screen and (min-width: 481px) and (max-width: 955px){
    /*tablet View */
        .nav-options {
            display: flex;
            width: 100%;
            height: 22.5rem;
            position: absolute;
            top: 16.5rem;
            left: -100%;
            opacity: 0;
            transition: all 0.7s ease;
            flex-direction: column;
            list-style-type: none;
            grid-gap: 0;
            text-decoration: none;
        }
        .nav-options.active {
            background-color: white;
            left: 0;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 10;
            align-content: center;
            padding-left: 0px;
        }
        .mobile-menu {
            display: block;
            align-items: center;
            justify-content: center;
        }
        .nav-container ul li a {
            display: flex;
            font-size: 22px;
            align-items: center;
            justify-content: center;
            height: 2vw;
            padding: 1.35rem 0rem;
        }
}

@media only screen and (min-width: 956px) and (max-width: 1280px){
    /*tablet View */
    .nav-container ul li a {
        padding: 3.1vh 1.5em;
    }
}

@keyframes animate {
    0% {
      top: calc(50% - 2px);
      left: -100%;
      height: 4px;
      z-index: 1;
    }
    50% {
      top: calc(50% - 2px);
      left: 0;
      height: 4px;
      z-index: 1;
    }
    100% {
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }
}


